<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>

<h2>Add Products</h2>
<ul>
  <li><a th:href="@{/admin/add-movie}">Add Movie</a></li>
  <li><a th:href="@{/admin/add-book}">Add Book</a></li>
  <li><a th:href="@{/admin/add-game}">Add Game</a></li>
</ul>

<form th:action="@{/home}" method="get">
  <button type="submit">Home</button>
</form>
<form th:action="@{/admin}" method="get">
    <button type="submit">Admin Home</button>
</form>
</body>
</html>