<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Game</title>
</head>
<body>
<h1>Add Game</h1>
<form th:object="${game}" th:action="@{/admin/add-game}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}"><br/>
    <label>Developer:</label>
    <input type="text" th:field="*{developer}"><br/>
    <label>Release Year:</label>
    <input type="text" th:field="*{releaseYear}"><br/>
    <label>Price:</label>
    <input type="text" th:field="*{price}"><br/>
    <input type="submit" value="Add Product">
</form>
<p th:text="${inputFormMessage}"></p><br/>
<form th:action="@{/home}" method="get">
    <button type="submit">Home</button>
</form>
<form th:action="@{/admin}" method="get">
    <button type="submit">Admin Home</button>
</form>
<form th:action="@{/admin/add-products}" method="get">
    <button type="submit">Add a different product</button>
</form>
</body>
</html>