<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Order</title>
</head>
<body>

<div>
    <h2>Your order was successfully placed</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${shoppingCart}">
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
    <p th:text ="'Total price: $' + ${totalPrice}"></p>
</div>
<form th:action="@{/products}" method="get">
    <button type="submit">Back to shopping</button>
</form>
</body>
</html>